* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', 'sans-serif';
    font-weight: bold;
}

body {
    margin-top: 20px;
    margin-left: 20px;
    background-color: 596787;
    color: white;
}


h1, h3{
    margin-left: 0px; 
}

h3{
    padding-bottom: 20px;
}

.senderName{
    font-size: 14px;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

#message {
    color: grey;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: white;
    box-sizing: border-box;
    
}

.sidebar{
   
    float: left;
    height: 1000px;
    box-sizing: border-box;   
}


#counter {
    font-weight: bold;
}

#composeBtn {
    padding: 6px 25px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Asap', 'sans-serif';
    border-radius: 6px;
}
